
<!doctype html>

<html ng-app="editor">

<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
    <script src="editor.js"></script>
</head>

<body>
<!--//верхняя панель переадресации-->
<div class="container" ng-controller="editorController">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" ng-show="isUserLoggedIn()">
                    <a class="nav-link" href="index.html">Главная</a>
                </li>
                <li class="nav-item" ng-show="isUserLoggedIn()">
                    <a class="nav-link" href="ulist.html">Список пользователей</a>
                </li>
                <li class="nav-item" ng-show="isUserLoggedIn()">
                    <a class="nav-link"  href="new_user.html">Добавить нового</a>
                </li>
                <li class="nav-item" ng-show="isUserLoggedIn()">
                    <a class="nav-link" href="editor.html">Редактирование</a>
                </li>

                <li class="nav-item" ng-show="!isUserLoggedIn()">
                    <form class="align-middle" ng-submit="tryToAuth()">
                        <div class="input-group input-group-sm" style="padding: 4px;">
                            <input id="navLoginField" class="form-control" ng-model="user.username" type="text"
                                   aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;"><!--//панель логина и пароля-->

                            <input id="navPasswordField" class="form-control" ng-model="user.password" type="password"
                                   aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">

                            <button id="navLoginSubmit" class="btn btn-outline-warning btn-sm"
                                    style="margin-left: 10px;" type="submit">Войти
                            </button>
                        </div>
                    </form>
                </li>
                <li class="nav-item" ng-show="isUserLoggedIn()" style="padding: 4px;">
                    <button class="btn btn-outline-secondary btn-sm" ng-click="tryToLogout()">Выйти</button>
                </li>
            </ul>
        </div>
    </nav>

    <ng-view></ng-view>

    <script src="index.js"></script>
    <script src="ulist.js"></script>
    <script src="editor.js"></script>
    <script src="new_user.js"></script>
</div>
<div class="container" ng-controller="editorController" ng-show="isUserLoggedIn()" >
    <p></p>
    <h3>Редактирование </h3>
    <p></p>

    <h6>Вы можете отредактировать данные {{springWebUser.username}} </h6>
    <form novalidate ng-> <!--//форма для редактирования -->
        <ul>
            <li>
                <input class="form-control" type="text" placeholder="Имя" ng-model="user.name">
            </li>
            <li>
                <input class="form-control" type="text" placeholder="Фамилия" ng-model="user.lastname">
            </li>
            <li>
                <input class="form-control" type="date" placeholder="День рождения" ng-model="user.birthDate">
            </li>
            <li>
                <input class="form-control" type="text" placeholder="Адрес" ng-model="user.address">
            </li>
            <li>
                <input class="form-control" type="text" placeholder="Можете написать о себе" ng-model="user.info">
            </li>
            <li>
                <input class="form-control" type="text" placeholder="Пароль" ng-model="user.password">
            </li>
        </ul>

        <button class="btn btn-primary" ng-click="edit()" ng-show="isUserLoggedIn()">Изменить выбранное</button>
        <button class="btn btn-secondary" ng-click="clearForm()" ng-show="isUserLoggedIn()">Очистить форму</button>

    </form>
</div>

</body>
</html>
